#header-wrapper {
    position: relative;
    padding: 1.5em 0 4em 0;
    background-size: cover;
    background-color: #FFFFFF;
    color: tan;
    border-bottom: 2px solid tan;
}

#header {
    padding: 0 2em;
}

#logo {
    position: absolute;
    left: 2em;
}

#logo img {
    height: 2em;
}

#menu {
    position: absolute;
    right: 2em;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span {
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: tan;
    font-weight: 500;
}

#menu li:hover a, #menu li.active a, #menu li.active span {
}

#menu .active a {
    border: 2px solid tan;
    border-radius: 6px;
    color: tan;
}

#menu .icon {
}