#header-wrapper {
    position: relative;
    padding: 1.5em 0 7em 0;
    background: #111111 url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    color: white;
}

#header {
    padding: 0 2em;
}

#logo {
    position: absolute;
    left: 2em;
}

#logo img {
    height: 80px;
}

#menu {
    position: absolute;
    right: 2em;
    top: 30px;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span {
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
}

#menu li:hover a, #menu li.active a, #menu li.active span {
}

#menu .active a {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
}

#menu .icon {
}

#search-container {
    padding-top: 7em;
}

#search-container .title {
    width: 55%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
}

#search-container .title h2 {
    font-size: 4em;
}

#search-container .title .byline {
    font-size: 2em;
}

#search-container .form {
    width: 40%;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

#search-container .form h3 {
    margin-bottom: 20px;
}

#search-container .form .form-inside {
    margin: 30px;
}

#search-container .form .form-inside .form-control {
    width: 94%;
    margin-bottom:3px;
    padding:10px;
    border:1px solid #CCC
}

#search-container .form .form-inside .date-control  {
    margin-top: 20px;
}

#search-container .form .form-inside .date-control .date {
    width: 34%;
    display: inline-block;
}

#search-container .form .form-inside .date-control .number-of-guest {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
    height: 45px;
}

#search-container .button {
    margin-top: 20px;
    padding: 1em 3em;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    font-weight: 700;
    font-size: 1em;
    background-color: #6ea66d;
    width: 98%;
    color: #FFFFFF;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}