.content {
    padding: 20px;
}

#information {
    width: 60%;
    display: inline-block;
}

.cover img {
    width: 100%;
    height: 600px;
}

#booking-container {
    width: 35%;
    display: inline-block;
    box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
    vertical-align: top;
    padding: 10px;
}

#booking-container h3 {
    margin: 10px;
}

#booking-container .form .form-inside {
    margin: 30px;
}

#booking-container .form .form-inside .form-control {
    margin-bottom:3px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
}

#booking-container .form .form-inside .form-control .date {
    box-sizing:border-box;
    width: 48%;
    display: inline-block;
}

#booking-container .form .form-inside .form-control .number-of-guest {
    width: 100%;
}

#booking-container .button {
    margin-top: 20px;
    padding: 1em 3em;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    font-weight: 700;
    font-size: 1em;
    background-color: #6ea66d;
    width: 100%;
    color: #FFFFFF;
}

.host {
    margin-top: 30px;
}

