html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12pt;
    font-weight: 200;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #ee0000;
}

a:hover {
    text-decoration: none;
}

.container {
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

#page-container {
    position: relative;
    min-height: 90vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}